body{
  height: 100%;
}
.navbar-brand{
padding: 0;
margin:0;
}
.navbar{
  margin-bottom: 0;
  border-radius:  0;

  font-size: 1.2em;
  border: 0;
  background-color: silver;
}
.brand-image{
height: 100%;
width:100%;

}
footer{
  background-color: silver;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width:100%;
}
.logo{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 position: relative;

}
.logoFooter{
  max-height: 250px;
  max-width: 350px;
  display: inline-block;
}

.footer{
  width: 100%;
  position: absolute;
  bottom:0;
}
.hero-image{
  margin-top: 20px;
  background-image: url("jogging.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  color: white;
}
.hero-text a{
  text-decoration: none;
  color:white;
}
.hero-text a:hover{
  background-color: white;
}
.paypal{
  width:250px;
  height: 100px;
  display: inline-block;
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.logoimg{
  width: 50%;
display: inline-block;
margin-top: 20px;
}
